<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <include resource="yazuo-logging-base.xml"/>

    <!-- 关联appender到项目 -->
    <logger name="druid" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.alibaba.druid" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.http" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE" />
    </logger>

    <!-- Spring框架的日志输出 -->
    <logger name="org.springframework" level="DEBUG"/>

<!--    <springProfile name="dev,test">-->
<!--        <logger name="com.yazuo" level="DEBUG" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="FILE"/>-->
<!--        </logger>-->
<!--    </springProfile>-->
<!--    <springProfile name="production">-->
<!--        <logger name="com.yazuo" level="INFO" additivity="false">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--            <appender-ref ref="FILE"/>-->
<!--        </logger>-->
<!--    </springProfile>-->

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>